.ActiveFilters {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-between;
}

.Filter {
    background-color: var(--highlight);
    border-radius: 8px;
    height: fit-content;
    margin: 10px;
    padding: 0.4em .6em;
    aspect-ratio: unset;
}

.Filter > p {
    height: min-content;
    text-align: center;
    margin: 0;
    padding: 0;
}