.custom-tooltip {
    background-color: white;
    color: black;
    border: 1px solid light-dark(black, white);
    border-radius: 5px;
    gap: 1px;
}

.custom-tooltip p {
    margin: 0.25em;
}

.ResultContainer {
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
}

.ResultLine > path {
    stroke: var(--highlight);
}
