body {
}

.results-table {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column wrap;
}

table, th, td {
    border-spacing: 0px;
    border-collapse: collapse;
}

table {
    margin: 1rem;
    width: 100%;
}

tr:nth-child(even) {
    background-color: light-dark(#e1e1e1, #242424);
}

tr:nth-child(odd) {
    background: light-dark(#cdcdcd, #3e3e3e);
}

th {
    position: relative;
    background-color: var(--highlight)
}

td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.workout_type {
    border-radius: 25px;
    margin: 3px;
    padding: 3px;
    color: #ffffff;
}

.workout_type:hover {
    cursor: pointer;
}

.logbookResultLink {
    padding: 5% 5% 5% 5%;
    width: stretch;
    height: stretch;
    border-radius: unset;
}

dialog {
    background-color: light-dark(#cdcdcd, #242424);
    border: thick;
    border-radius: 20px;
}

dialog::backdrop {
    background-color: #000000;
    opacity: 0.5;
}

.results-table-topmenu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.mobilemessagediv {
    display: none;
    background-color: var(--highlight);
    width: 100%;
    border-radius: 8px;
    padding: 2px;
}

@media screen and (max-width:480px) {
    .mobilemessagediv {
        display: block;
    }

    .results-table-topmenu {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-self: flex-start;
        align-items: center;
    }
}