.custom-tooltip {
    background-color: light-dark(white, #15191E);
    color: light-dark(#10151B, white);
    border: 1px solid light-dark(#10151B, white);
    border-radius: 5px;
    gap: 1px;
}

.custom-tooltip p {
    margin: 0.25em;
}

.ResultContainer {
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
}
