body {
}

tr:nth-child(even) {
    background: #242424;
}

tr:nth-child(odd) {
    background: #3e3e3e;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.workout_type {
    border-radius: 25px;
    margin: 3px;
    padding: 3px;
}

.workout_type:hover {
    cursor: pointer;
}


.JustRow {
    background: #004343;
}

.FixedDistanceInterval {
    background: #74a892;
}

.FixedTimeInterval {
    background: #b8cdab;
}

.VariableIntervalUndefinedRest {
    background: #f0daa5;
}

.FixedCalorieInterval {
    background: #c7522a;
}

.VariableInterval {
    background: #008585;
}

.FixedDistanceSplits {
    background: #74a892;
}

.FixedCalorie {
    background: #e5c185;
}

.FixedTimeSplits {
    background: #c3774c;
}

.unknown {
    background: #006464;
}

.logbookResultLink {
    padding: 5% 5% 5% 5%;
    width: stretch;
    height: stretch;
    border-radius: unset;
}

.logbookResultLinkImg {
    max-width: 100%;
    max-height: 100%;
}
