

.FilterListMenu {
    background: #3e3e3e;
    position: absolute;
    z-index: 2;
    align-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    height: 20em;
}

.FilterList {
    display: inline;
    float: none;
    list-style-type: none;
    align-content: center;
    align-items: center;
    margin-block-start: 0em;
    margin-inline-start: 0px;
    padding-inline-start: 0px;
    margin-block-end: 0px;
}

    .FilterList li button {
        padding: 3px;
        width: 100%;
        height: 100%;
        background: none;
    }