body {
}

tr:nth-child(even) {
    background: #242424;
}

tr:nth-child(odd) {
    background: #3e3e3e;
}

th, td {

    padding-left: 1rem;
    padding-right: 1rem;
}

.workout_type {
    border-radius: 25px;
    margin: 6px;
    padding: 2px;
}